
  <div class="row">
    <aside class="span4">
      <section>
	<section>
        <%= render 'shared/faculty_form' %>
      </section>
      </section>
    </aside>
    <div class="span8">
      <h3>тут будет форма для добавления контента</h3>
    </div>
  </div>



