<% provide(:title, 'Поиск') %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/search_form' %>
      </section>
    </aside>
    <div class="span8">
      <% if @users.blank? %>
		<p>Пользователь с такими параметрами отсутствует в нашей базе данных... Пожалуйста, проверте корректность вводимых данных.</p>
		<% else %>
		<h3>Поиск пользователей</h3>
		<ul class="users">
  		<%= render @users %>
		</ul>
	  <% end %>
    </div>
 </div>