<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/job_form' %>
      </section>
    </aside>
    <div class="span8">
      <%= render 'shared/jobsfeed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Keep In Touch</h1>

    <h2>
      Социальная сеть для студентов ЮРГТУ(НПИ)
    </h2>

    <%= link_to "Зарегестрироваться сейчас!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>
