<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :text_of_comment, placeholder: "Добавить комментарий..." %>
    <% f.text_area :id_message = id_msg %>
  </div>
  <%= f.submit "Отправить", class: "btn btn-large btn-primary" %>
<% end %> 