<div class="center hero-unit">
    <h1><%= image_tag("main-photo.jpg") %></h1>
    <h2> Социальная сеть для выпускников ЮРГТУ(НПИ) </h2>
    <%= link_to "Присоединяйся!", signup_path,
                                class: "btn btn-large btn-primary" %>
 </div>