<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Специальности", new_branch_path %></li>
      <li><%= link_to "Кафедры", new_chair_path %></li>
      <li><%= link_to "Факультеты", new_faculty_path %></li>
    </ul>
  </nav>
</footer>
